@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src:
        url(../fonts/InterVariable.woff2) format('woff2'),
        url(../fonts/InterVariable.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
    src:
        url(../fonts/InterVariable-Italic.woff2) format('woff2'),
        url(../fonts/InterVariable-Italic.ttf) format('truetype');
}
